.flx-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
html,
body,
#app {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

/* 全局分割线样式 */
.custom-divider {
  height: 1px;
  background-color: #ccc;
  border: none;
}